*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body
{
     overflow-x:scroll;
     overflow-y:scroll;
     background-color: #000;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}


body::-webkit-scrollbar-thumb {
  background-color: rgba(56, 56, 56, 0.425);
  border-radius: 20px;

}

.header{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 16px;
    color: #eceff1; 
}

.header .nav-links a:hover{
    color: orange;
}

/**/.menu {
    display:none;
}

.header .btn button,
/**/.header .menu button{

    font-weight: 700;
    color: #fff;
    padding: 9px 25px;
    background: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: none;
    color: orange;
    transform: scale(1.1);
}


@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}



/*Nav Mobile*/

.header a{
    text-decoration: none;  

}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.indexContainer {

  display: flex;
  flex-direction: column;

  justify-content: center;


  height: 87vh;
  background-color: black;
}

.indexContainer h1 {

  color: white;
  font-size: 100px;
  font-weight: 600;

}

.indexContainer .firstPoint {
  padding-left: 32%;
}

.indexContainer .secondPoint {
  padding-left: 25%;
}

.indexContainer .thirdPoint {
  padding-left: 40%;
}

.indexContainer .infoWinners {
  width: 250px;
  color: #bbb;
  position: absolute;
  left: 25%;
  top: 67%;
  right: 100px;
  font-size: 18px;
  font-weight: 300;
}





.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;


  height: 87vh;
  background-color: #000;
}


.aboutContainer .us {
  color: white;
  display: block;
    
  border-top: 2px solid orange;

  padding-top: 25px;
  width: 30px;
  margin-bottom: 25px;
  position: relative;
  top: 28%;
  font-size: 18px;
}

.aboutContainer h1 {
  color: #fff;
  font-size: 100px;
}

.aboutContainer .aboutSubFirst {
  padding-left: 15%;
}

.aboutContainer .aboutSubSecond {
  padding-left: 40%;
}

.underTheEarth {
  background-image: linear-gradient(to right, #B1B1AF 4%, #484846 98%);
  color: #000;
  padding: 8px;
  border-radius: 150px;

}

.aboutItemDown{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  margin-right: 10%;
  font-size: 20px;
}

.aboutItemDownContent {
  width: 50%;
}

.aboutItemDownContent button{

  background-color: rgba(182, 182, 182, 0.349);
  text-decoration: none;
  border: none;
  border-radius: 100vh;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  color: white;
  font-weight: 100;

}


.blobSVG {
  position: absolute;
  width: 50%;
  top: 100px;
  left: 70%;
}

.blobSVGdos {
  position: absolute;
  width: 50%;
  right: 80%;
}






.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: orange;
  text-align: center;
}

.container__headline {
  font-size: 5vmin;
}

.hero__inner {
  display: flex;
  position: relative;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
.hero__inner::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__content {
  display: none;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero__headline {
  --padding: 1.5vmin;
  --duration: 400ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
  position: relative;
  display: inline-block;
  font-size: 10vmin;
  overflow: hidden;
  margin-top: calc(var(--padding) * -1);
  padding: var(--padding);
}
.hero__headline::after {
  content: "";
  position: absolute;
  top: calc(100% - var(--padding));
  left: 0;
  background-color: orange;
  width: 100%;
  height: 1.5vmin;
  transform: scaleX(0);
  transition: transform var(--duration) var(--delay) var(--ease);
}
.hero__headline span {
  display: block;
  transform: translateY(110%);
  transition: transform var(--duration) var(--ease);
}
.active .hero__headline::after {
  transform: scaleX(1);
  transition-delay: 0s;
}
.active .hero__headline span {
  transform: translateY(0);
  transition-delay: var(--delay);
}



.delayed-section h1{
  color: #fff;
  font-size: 70px;
}

.delayed-section .titleDelayedContainerFirst {

  position: relative;
  bottom: 900px;
  left: 100%;

}

.delayed-section .titleDelayedContainerTwo {
  position: relative;
  bottom: 580px;
  right: 65%;
}

.delayed-section .titleDelayedContainerThree {
  position: relative;
  bottom: 45vh;
  left: 100%;
}

.delayed-section {
  position: relative;
  width: 30vw;
  height: 38.87vw;
}
.delayed-section .inner-container {
  will-change: transform;
}
.delayed-section img {
  max-width: 100%;
  will-change: transform;
}

#del1 {
  top: 10vh;
  left: 8vw;
}
#del2 {
  top: 40vh;
  left: 60vw;
}
#del3 {
  top: 55vh;
  left: 35vw;
}


.work {
	padding-top: 150px;
  margin-left: 100px;
}

.work__wrapp {
	display: flex;
	flex-wrap: wrap;
	row-gap: 120px;
	justify-content: space-between;
	padding: 0 120px;
}

.work__item {
	position: relative;
	width: calc(50% - 60px);
	height: 100vh;
}

.work__item-num {
	position: absolute;
	display: inline-block;
	font-size: 70px;
	color: white;
	mix-blend-mode: difference;
	z-index: 2;
}

.work__item-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work__item-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.footer__div {
	font-size: 100px;
	letter-spacing: 15px;
  font-weight: 400;
	color: white;
	text-transform: uppercase;
}

.footer__div span {
	display: inline-block;
}