/* Webfont: GleffySlant-Regular */@font-face {
    font-family: 'GleffySlant';
    src: url('gleffy slant.woff2') format('woff2'), /* Modern Browsers */
         url('gleffy slant.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

